<launch>

	<!-- ROS launch (motor_robot) -->
	<include file="$(find fish_rov_ocean_rubbish_collector)/launch/motor_robot.launch" />

	<!-- ROS launch (camera_robot) -->
	<include file="$(find fish_rov_ocean_rubbish_collector)/launch/camera_robot.launch" />

	<!-- ROS launch (trackbar_control_robot) -->
	<include file="$(find fish_rov_ocean_rubbish_collector)/launch/trackbar_control_robot.launch" />

</launch>
